.containerAbout {
  background-color: var(--white);
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 20vw;
  padding-right: 20vw;
}

.containerAbout .title,
.text {
  color: var(--black);
}

.containerAbout .socialMedia {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2vh;
  padding: 25px 50px;
}

.containerAbout .socialMedia a {
  color: var(--blue);
  margin: 0 10px;
}

.containerAbout .row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.containerAbout .containerText {
  width: 30vw;
  margin-left: 2vw;
}

.containerAbout .text {
  text-align: start;
}

.containerAbout .headerImg {
  border-radius: 50%;
  padding-right: 2vh;
  height: 25vh;
}
