.containerBenefits {
  background-color: var(--blue);
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.containerBenefits .title {
  color: var(--white);
  margin-bottom: 2vh;
}

.containerBenefits .containerBenefitsCards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerBenefits p {
  color: var(--white);
}

@media (max-width: 1080px) {
  .containerBenefits .containerBenefitsCards {
    flex-direction: column;
  }
}
