.containerBenefitsCard {
  padding-top: 25px;
}

.containerBenefitsCard .title {
  font-size: 20px;
}

.containerBenefitsCard .benefitsImage {
  height: 7.5vh;
}

.containerBenefitsCard .featImage {
  max-height: 15vh;
  padding: 0.5vh;
  background-color: var(--black);
}

.containerBenefitsCard .featText {
  color: var(--black);
  font-weight: bold;
}

.containerBenefitsCard .hidden {
  filter: brightness(30%);
}
