.containerFeaturingCard {
  padding-top: 25px;
}

.containerFeaturingCard .featImage {
  max-height: 15vh;
  padding: 0.5vh;
  background-color: var(--black);
}

.containerFeaturingCard .featText {
  color: var(--white);
  font-weight: bold;
  font-size: 0.8rem;
  font-weight: normal;
}

.containerFeaturingCard .hidden {
  filter: brightness(30%);
}
