.containerCourse {
  background-color: var(--white);
  padding: 3vh 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 11px 8px -10px black, inset 0px -11px 8px -10px black;
}

.containerCourse .text {
  color: black;
  padding: 0 10vw;
  font-size: 1.5rem;
}

.containerCourse .experience {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.containerCourse .experience img {
  height: 10vh;
}

.containerCourse p {
  font-size: 1.5rem;
  color: black;
}

.containerCourse .videoContainer {
  margin-top: 3vh;
}

.containerCourse .videoContainer .text {
  margin-bottom: 2vh;
}

.containerCourse .video {
  width: 45vw;
  height: 41vh;
  margin-bottom: 2vh;
}

.containerCourse .row {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin: 0 20vw;
}

.containerCourse .teamLogo {
  height: 15vh;
}

@media (max-width: 1080px) {
  .containerCourse {
    background-image: none;
  }

  .containerCourse .text {
    margin: 0 2vw;
  }

  .containerCourse .row {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
  }

  .containerCourse .video {
    width: 80vw;
    height: 30vh;
  }
}
