.containerCourse {
  background-color: var(--white);
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.containerCourse .text {
  color: black;
}

.containerCourse .experience {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.containerCourse p {
  font-size: 2vh;
}

.containerCourse .videoContainer {
  margin-top: 3vh;
}

.containerCourse .videoContainer .text {
  margin-bottom: 2vh;
}

.containerCourse .video {
  width: 50vw;
  height: 35vh;
  margin-bottom: 2vh;
}

.containerCourse .row {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 20vw;
}

.containerCourse .teamLogo {
  height: 15vh;
}
