.containerFeaturing {
  background-color: var(--blue);
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.containerFeaturing .title {
  color: var(--white);
}

.containerFeaturing .containerFeaturingCards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0 20vw;
  margin-bottom: 2vh;
}

@media (max-width: 1080px) {
  .containerFeaturing .containerFeaturingCards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
    font-size: 70%;
  }
}
