.containerFeedbacks {
  background-color: var(--white);
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 11px 8px -10px black, inset 0px -11px 8px -10px black;
}

.containerFeedbacks .title {
  color: var(--black);
  margin-bottom: 2vh;
}

.containerFeedbacks .containerFeedbacksCards {
  margin: 0 30vw;
  margin-bottom: 2vh;
}

.containerFeedbacks .feedImage {
  max-height: 50vh;
}

@media (max-width: 1080px) {
  .containerFeedbacks {
    background-image: none;
  }

  .containerFeedbacks .containerFeedbacksCards {
    margin: 0 5vw;
    margin-bottom: 2vh;
  }
}
