.footerContainer {
  padding: 0 5vh;
  width: 100%;
  height: 8vh;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerContainer p {
  font-size: 0.8rem;
}

.footerContainer a {
  color: var(--white);
  text-decoration: none;
}

@media (max-width: 1080px) {
  .container {
    padding: 0;
  }
}
