.containerHeader {
  /* padding-top: 10vh; */
  width: 100%;
  height: 35vh;
  background-color: var(--black);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerHeader h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--white);
  text-align: center;
}

.containerHeader h1 {
  font-size: 6vh;
}

.containerHeader h3 {
  font-size: 2.5vh;
  padding-top: 1.5vh;
}

.containerHeader h5 {
  font-size: 1.5vh;
}

@media (max-width: 1080px) {
  .containerHeader {
    height: 30vh;
    background-position: center;
  }

  .containerHeader .mainText {
    flex-direction: column;
  }

  .containerHeader .header {
    justify-content: center;
    flex-direction: column;
  }

  .containerHeader .headerImg {
    padding-top: 2vh;
    padding-right: 0;
    height: 25vh;
  }

  .containerHeader .text {
    padding-left: 0;
  }

  .containerHeader .bush {
    display: none;
  }
}
