.containerInfos {
  background-color: var(--white);
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.containerInfos .title {
  color: var(--black);
  margin-bottom: 2vh;
}

.containerInfos .containerInfosCards {
  margin: 0 40vw;
  margin-bottom: 2vh;
}

.containerInfos .feedImage {
  max-height: 30vh;
}

@media (max-width: 1080px) {
  .containerInfos .containerInfosCards {
    margin: 0 5vw;
  }
}
